<!DOCTYPE html>
<html>
    <head>
        <!-- ... -->
        <title>COBAS Virtual System!</title>
        <link rel="stylesheet" href="{{ asset('build/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/left-sidebar.css') }}">
        {#        <link rel="stylesheet" href="{{ asset('build/css/sidebar-v2.css') }}">#}
        <style>
            nav.navbar  {

            }
            .navbar-top-links {

            }
            #ol3map_map>div, #ol3map_map>div>div {
                height:100%;
            }
        </style>
    </head>
    <body>
        <div id="wrapper" class="hide-sidebar" style="background-color:rgba(0, 60, 136, 0.5);">
            <nav class="navbar navbar-fixed-top navbar-top" role="navigation" style="top:0px;margin-bottom: 0">
                {# <div class="navbar-header page-scroll">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                         <i class="fa fa-bars"></i>
                     </button>
                     <a class="cobas-navbar-brand" href="/">
                         <img class="cobas-header-logo" src="/bundles/yorkujuturna/images/COBAS_logo.png" alt="COBAS Virtual System" title="COBAS Virtual System">
                     </a>
                 </div>#}
                {#                <div class="collapse navbar-collapse navbar-main-collapse">#}

                {#<div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="cobas-navbar-brand" href="/">
                            <img class="cobas-header-logo" src="/bundles/yorkujuturna/images/COBAS_logo.png" alt="COBAS Virtual System" title="COBAS Virtual System">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-main-collapse">


                        <ul class="nav navbar-nav">
                            <li action="/en/content/content" menu="about">
                                <a href="#">About</a>
                            </li>         



                            <li class="dropdown wildlife">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Wildlife<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li action="/en/content/birds"><a href="#">Birds</a></li>
                                    <li action="/en/content/stations"><a href="#">Stations</a></li>
                                </ul>
                            </li>    
                            <li class="dropdown community">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Community<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                </ul>
                            </li>    
                            <li class="dropdown research">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Research<b class="caret"></b></a>
                                <ul class="dropdown-menu research">
                                    <li action="/en/content/content" menu="Lillian Meighen Wright Centre"><a tabindex="-1" href="#">Lillian Meighen Wright Centre</a></li>
                                    <li action="/en/content/content" menu="Research Projects"><a tabindex="-1" href="#">Research Projects</a></li>
                                    <li action="/en/content/content" menu="Graduate Student Research"><a tabindex="1" href="#">Graduate Student Research</a></li>
                                    <li action="/en/content/content" menu="LAS Nubes Project"><a tabindex="1" href="#">LAS Nubes Project</a></li>
                                    <li action="/en/content/content" menu="OdD/UCR"><a tabindex="1" href="#">OdD/UCR</a></li>
                                    <li action="/en/content/content" menu="CCT"><a tabindex="1" href="#">CCT</a></li>
                                    <li action="/en/content/content" menu="UNA"><a tabindex="1" href="#">UNA</a></li>
                                </ul>
                            </li>    

                        </ul>


                        <ul class="nav  navbar-nav pull-right">
                            <li menu="help"><a href="#"><i class="fa fa-question-circle" style="color: blue;margin-right: 2px;"></i>Help</a></li>
                            <li class="login">
                                <a href="/en/login">Login</a>
                                <div class="login-dropdown">
                                    <div style="padding:5px 10px;height:310px;">
                                        <form id="login-form" class="form-vertical validation" method="post" action="/en/login_check">
                                            <h4>Registered User</h4>
                                            <div class="message"></div>  
                                            <input type="hidden" name="_csrf_token" value="9QVoLJTAEJuwZ0Y1GtRdWeNqcRBqoyFJyymOiaKrDps">
                                            <div class="form-group">
                                                <label for="username">Email or User ID</label>
                                                <input type="text" class="form-control validate[required]" id="username" name="_username" placeholder="Email or User ID" tabindex="1" value="" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="password" style="width:100%">Password<div class="pull-right"><a href="/en/resetting/request">Forgot Password?</a></div></label>
                                                <input type="password" class="form-control validate[required,minSize[6]]" tabindex="2" required="required" id="password" name="_password" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on">Keep me logged in</label><div class="pull-right"><button type="submit" class="btn btn-primary">Login</button></div>
                                                </div>
                                            </div>
                                        </form>

                                        <div id="register-form" style="border-top: 2px solid darkgray;position: relative;background-color: #ada69a">
                                            <div class="pull-left">
                                                <h4>New User</h4>

                                                <p>Don't have an account?</p>

                                            </div>
                                            <div style="top:32px;right:0px;position: absolute;">
                                                <a href="/en/register/"><button class="btn btn-default">Register</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </li>

                            <li class="locale"><a href="/es" title="Spanish"><img src="/bundles/map2ucore/images/es.png"></a></li>
                        </ul>


                    </div>
                </div>
#}



                <div class="navbar-header">
                    {# <div class="navbar-brand">
                         <div class="navbar-logo col-xs-3">
                             <img class="logo-image " alt="COBAS Virtual System!" title="COBAS Virtual System!" src="/images/COBAS_logo.png">
                         </div>
                         <div class="navbar-logo col-xs-9">
                             <img class="logo-text" alt="COBAS Virtual System!" title="COBAS Virtual System!" src="/assets/images/COBAS_logo.png"  style="display:none;">
                             <!--						<a class="logo-text" href="--><!--">--><!--</a>-->
                         </div>
                     </div>
                     <button type="button" class="navbar-toggle hidden" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                     </button>#}
                </div>

                <ul class="nav navbar-top-links navbar-left">
                    <li>
                        <a class="cobas-navbar-brand" href="/">
                            <img class="cobas-header-logo" src="/images/COBAS_logo.png" style="height:26px;" alt="COBAS Virtual System" title="COBAS Virtual System">
                        </a>
                    </li>
                    <li action="/en/content/content" menu="about">
                        <a href="#">About</a>
                    </li>         



                    <li class="dropdown wildlife">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Wildlife<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li action="/en/content/birds"><a href="#">Birds</a></li>
                            <li action="/en/content/stations"><a href="#">Stations</a></li>
                        </ul>
                    </li>    
                    <li class="dropdown community">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Community<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        </ul>
                    </li>    
                    <li class="dropdown research">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Research<b class="caret"></b></a>
                        <ul class="dropdown-menu research">
                            <li action="/en/content/content" menu="Lillian Meighen Wright Centre"><a tabindex="-1" href="#">Lillian Meighen Wright Centre</a></li>
                            <li action="/en/content/content" menu="Research Projects"><a tabindex="-1" href="#">Research Projects</a></li>
                            <li action="/en/content/content" menu="Graduate Student Research"><a tabindex="1" href="#">Graduate Student Research</a></li>
                            <li action="/en/content/content" menu="LAS Nubes Project"><a tabindex="1" href="#">LAS Nubes Project</a></li>
                            <li action="/en/content/content" menu="OdD/UCR"><a tabindex="1" href="#">OdD/UCR</a></li>
                            <li action="/en/content/content" menu="CCT"><a tabindex="1" href="#">CCT</a></li>
                            <li action="/en/content/content" menu="UNA"><a tabindex="1" href="#">UNA</a></li>
                        </ul>
                    </li>    
                </ul>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="front-end" title="" href="/" target="_blank" data-original-title="Storefront">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle messages" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i>
                            <span class="label label-danger"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li class="menu-header">You have  messages</li>
                            <li class="menu-body"></li>
                            <li class="menu-footer">
                                <a class="text-center" href="/en/all">See all messages</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle alerts" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-activities">
                            <li class="menu-header">Recent activities</li>
                            <li class="menu-body"></li>
                            <li class="menu-footer">
                                <a class="text-center" href="/en/all">See all activities</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle settings" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-settings">
                            <li><a href="">Pages</a></li>
                            <li><a href="">Banners</a></li>
                            <li><a href="">Layouts</a></li>
                            <!--							<li><a href="--><!--">--><!--</a></li>-->
                            <li><a href="">Error Logs</a></li>
                            <li><a href="">Settings</a></li>
                            <li class="menu-footer"></li>
                        </ul>
                    </li>

                    <li class="dropdown user">
                        <a class="dropdown-toggle dropdown-login" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-user"></i><div style="margin-left: 5px;display: inline-block;"></div></a>
                        <div class="dropdown-menu  dropdown-user">


                            <div class="container-fluid">
                                <div class="row-fluid">
                                    <div class="col-md-12">
                                        <div class="">
                                            <h4>User Log In</h4>

                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="col-md-12">
                                        <div id="login-form" class="content-wrap center-block">
                                            <form method="POST" accept-charset="utf-8" action="/en/login_check" role="form">
                                                <fieldset>
                                                    <div class="form-group message"> 
                                                    </div> 

                                                    <input name="_csrf_token" value="MbXTZEuwfTAHXYah8X86qBf41yhLfu8qbuPc7oWVqzk" type="hidden">
                                                    <div class="form-group">

                                                        <div class="input-group col-md-12">
                                                            <input id="username" name="_username" class="form-control input-lg" placeholder="Email Address" autofocus="" type="text">
                                                            <span class="input-group-addon"><i class="fa fa-at"></i></span>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">

                                                        <div class="input-group col-md-12">
                                                            <input id="password" name="_password" class="form-control input-lg" placeholder="Password" type="password">
                                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-5 wrap-none">
                                                                <a class="btn btn-link btn-lg" href="/en/resetting/request"><span class="small"><small>Forgot password?</small></span></a>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <a class="btn btn-default btn-block btn-lg" href="/en/register/">Register</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div> 
                    </li>         
                    <li><a href="/zh" title="" data-original-title="Chinese"><img src="/images/zh.png" style="height:16px;"></a></li>
                </ul>


                <div id="left-sidebar" style="background-color: gainsboro;height:100%;top: 50px;position:fixed;left:8px;width:240px;">

                </div>

            </nav>
        </div>
        <div id="page-wrapper" style="position: fixed;top:50px;padding-left: 5px; width:100%; border: 1px solid red; background-color: white;  height: 100%;">


            <div id="page-wrapper-ol3map_map" class="col-xs-12  col-sm-12 col-md-8">

                <div id="ol3map_map" style="margin-top: 15px; height: 522px; width: 100%; border-radius: 5px; border: 1px solid darkgreen;">

                    {# <div id="mapstatus" class="row">
                         <div class="pull-left">
                             <div id="mapping_current_position" style="display:inline-block;margin-left: 10px;margin-top:3px;"></div>
                         </div>
                         <div class="pull-right">
                             <div class="hidden"><img id="ol3-export_image" src="" crossorigin="Anonymous"></div>
                             <div id="map2u_mapping-mouse-position" style="display:inline-block;margin-right: 10px;"><div class="map2u_mapping-mouse-position">outside</div></div>
                             <select id="projection" style="display:inline-block;margin-top: 4px;margin-right: 5px;">
                                 <option value="EPSG:4326">EPSG:4326</option>
                                 <option value="EPSG:3857">EPSG:3857</option>
                             </select>
                         </div>
                     </div>#}

                </div>
                <div id="page-wrapper-right-sidebar" class="col-xs-12 col-sm-12 col-md-4">
                    <div id="page-right-sidebar" style="height: 53px;">
                        <div id="ol3map-sidebar" class="ol3map-sidebar pull-left ol3map-sidebar-left hidden collapsed" style="height: 59px;">
                            <!-- Nav tabs -->
                            <div class="ol3map-sidebar-tabs">
                                <ul role="tablist">
                                    <li><a href="#layer_list" role="tab" title="" data-toggle="tooltip" data-container="body" data-placement="left" data-original-title="Layer List"><i class="fa fa-map-o"></i></a></li>
                                    <li><a href="#feature_information" role="tab" title="" data-toggle="tooltip" data-container="body" data-placement="left" data-original-title="Feature information details"><i class="fa fa-info-circle"></i></a></li>
                                    <li class="disabled"><a href="#messages" role="tab" data-toggle="tooltip" data-container="body" data-placement="left" data-original-title="" title=""><i class="fa fa-envelope"></i></a></li>
                                    <li><a href="#mapping_spatialdataset" role="tab" data-toggle="tooltip" data-container="body" data-placement="left" data-original-title="" title=""><i class="fa fa-pencil-square-o"></i></a></li>
                                    <li><a href="#mapping_createheatmap" role="tab" title="" data-container="body" data-toggle="tooltip" data-placement="left" data-original-title="Create Heat Map"><i class="fa fa-pencil-square-o"></i></a></li>
                                    <li><a href="#mapping_userdraw" role="tab" title="" data-toggle="tooltip" data-container="body" data-placement="left" data-original-title="User Draw"><i class="fa fa-pencil"></i></a></li>
                                    <li><a href="#mapping_featurestyle" role="tab" title="" data-container="body" data-toggle="tooltip" data-placement="left" data-original-title="Layer Feature Style"><i class="fa fa-tag"></i></a></li>

                                    <li><a href="#mapping_spatialfile_upload" role="tab" data-container="body" title="" data-toggle="tooltip" data-placement="left" data-original-title="Upload Spatial Data to Sever"><i class="fa fa-cloud-upload"></i></a></li>
                                </ul>

                                <ul role="tablist">
                                    <li><a href="#mapping_osm_legend" role="tab" data-container="body" title="" data-toggle="tooltip" data-placement="left" data-original-title="Open Street Map Legend"><i class="fa fa-info"></i></a></li>
                                    <li><a href="#mapping_settings" role="tab" data-container="body" title="" data-toggle="tooltip" data-placement="left" data-original-title="System Settings"><i class="fa fa-gear"></i></a></li>
                                </ul>
                            </div>

                            <!-- Tab panes -->
                            <div class="ol3map-sidebar-content">
                                <div class="ol3map-sidebar-pane" id="layer_list">
                                    <h1 class="ol3map-sidebar-header">
                                        Layers
                                        <div class="ol3map-sidebar-close"><i class="fa fa-caret-left"></i></div>
                                    </h1>
                                    <div class="ol3map-sidebar-panel-content">
                                    </div>
                                </div>
                                <div class="ol3map-sidebar-pane" id="feature_information">
                                    <h1 class="ol3map-sidebar-header">Feature Information<div class="ol3map-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                                    <div class="ol3map-sidebar-panel-content">
                                    </div>
                                </div>

                                <div class="ol3map-sidebar-pane" id="messages">
                                    <h1 class="ol3map-sidebar-header">Messages<div class="ol3map-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                                    <div class="ol3map-sidebar-panel-content">
                                    </div>
                                </div>
                                <div class="ol3map-sidebar-pane" id="mapping_spatialdataset">
                                    <h1 class="ol3map-sidebar-header">Set dataset spatial info<div class="ol3map-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                                    <div class="ol3map-sidebar-panel-content">
                                    </div>
                                </div>
                                <div class="ol3map-sidebar-pane" id="mapping_createheatmap">
                                    <h1 class="ol3map-sidebar-header">Create Heatmap<div class="ol3map-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                                    <div class="ol3map-sidebar-panel-content">
                                    </div>
                                </div>
                                <div class="ol3map-sidebar-pane" id="mapping_userdraw">
                                    <h1 class="ol3map-sidebar-header">User Draw Geometry Feature<div class="ol3map-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                                    <div class="ol3map-sidebar-panel-content">
                                    </div>
                                </div>
                                <div class="ol3map-sidebar-pane" id="mapping_featurestyle">
                                    <h1 class="ol3map-sidebar-header">Layer Feature Style<div class="ol3map-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                                    <div class="ol3map-sidebar-panel-content">
                                    </div>
                                </div>
                                <div class="ol3map-sidebar-pane" id="mapping_spatialfile_upload">
                                    <h1 class="ol3map-sidebar-header">Spatial File Upload<div class="ol3map-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                                    <div class="ol3map-sidebar-panel-content">
                                    </div>
                                </div>
                                <div class="ol3map-sidebar-pane" id="mapping_osm_legend">
                                    <h1 class="ol3map-sidebar-header">Legend<div class="ol3map-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                                    <div class="ol3map-sidebar-panel-content">

                                    </div>
                                </div>
                                <div class="ol3map-sidebar-pane" id="mapping_settings">
                                    <h1 class="ol3map-sidebar-header">Settings<div class="ol3map-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                                    <div class="ol3map-sidebar-panel-content">

                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                <div id="popup" style="width:300px;height:300px;">
                </div>
                <div id="right-sidebar-content" style="padding:20px 10px 10px 40px; position: fixed; width: 240px; height:100%; top: 50px; border: 1px solid green;right:0px;">
                    <div class="row">
                        <div id="right_sidebar_feature_list" class="col-xs-12 col-sm-12 col-md-6" style="height: 40px;">
                            <div class="feature_item">
                            </div>
                            <div class="feature_item">
                            </div>
                            <div class="feature_item">
                            </div>
                            <div class="feature_item">
                            </div>
                            <div class="feature_item">
                            </div>
                            <div class="feature_item">
                            </div>
                            <div class="feature_item">
                            </div>
                            <div class="feature_item">
                            </div>
                        </div>
                        <div id="right_sidebar_advertisment_list" class="col-xs-12 col-sm-12 col-md-6" style="height: 40px;"> 
                        </div>
                    </div>
                </div>
            </div>
            <script src="{{ asset('build/js/sidebar.js') }}"></script>
            <script src="{{ asset('build/js/bootstrap.js') }}"></script>
            <script src="{{ asset('build/js/map.js') }}"></script>
            {#            <script src="{{ asset('build/js/jquery-sidebar.js') }}"></script>#}
            {#            <script src="{{ asset('build/js/sidebar-v2.js') }}"></script>#}
            {#            <script src="{{ asset('build/js/sidebarv2.js') }}"></script>#}

    </body>
</html>